* {
  font-family: helvetica;
  text-align: center;
}

header {
  background-image: url("../../resources/media/the-flatiron-building.png");
  background-size: 100%;
}

.design h2 {
  background-image: url("../../resources/media/the-flatiron-building.png");
  background-size: 100%;
}

.footer {
  background-color: dimgray;
}
